---
interface Props {
  title: string;
  subTitle?: string;
  class?: string;
  level?: IntRange<1, 6>;
}

const { title, subTitle, class: className, level = 2, ...props } = Astro.props;

const TagName: string = "h" + level;
---

<TagName {...props} class:list={[className, "text-center font-righteous text-gray-800"]}>
  {title}{subTitle && <div class="text-[0.3em] leading-[1.5]">{subTitle}</div>}
</TagName>
<style></style>
